/* Arquivo de folhas de estilos */

.conteudo {
	margin-top: 80px;
	min-height: 450px;
	margin-botton: 30px;
}

.logomarca {
	margin-top: -15px;
}

.tema-capa {
	width: 100%;
	height: 170px;
}

.user-imagem {
	margin-top: 90px;
}

.user-detalhes {
	margin: 20px 20px 50px 20px;
}

.user-space {
	margin-top: 160px;
}

.tema-default {
	background-image: url("/assets/images/capa-default.jpg");
}

.tema-cidade {
	background-image: url("/assets/images/capa-cidade.jpg");
}

.left-space {
	margin-left:10px;
}

.right-space {
	margin-right:8px;
}

.text-minimal {
	font-size: 12px;
}