@(title: String, temas: List[Tema], temaAtual: Tema)

@main(title) {

	<div class="col-sm-8">
	
	   @if(flash.contains("fail")) {
	   		<div class="alert alert-dismissible alert-danger">
	  			<button type="button" class="close" data-dismiss="alert">×</button>
	  			@flash.get("fail")
			</div>
	   }
	   @if(flash.contains("success")) {
			<div class="alert alert-dismissible alert-success">
	  			<button type="button" class="close" data-dismiss="alert">×</button>
	  			@flash.get("success")
			</div>
	   }
	
		<h3 class="text-center">Adicionar Dificuldade ao Tema <b>@temaAtual.getNome()</b></h3>
			<form method="post" action="">
			   	<p><br /><label for="nome">Dificuldade</label></p>
		       	<p>
		       		<select name="dificuldade" class="form-control" required="required">
		       			<option value="-2">Muito Difícil</option>
		       			<option value="-1">Difícil</option>
		       			<option value="0">Normal</option>
		       			<option value="1">Fácil</option>
		       			<option value="2">Muito Fácil</option>
		       		</select>
		       	</p>
		       	<div>
			    	<button class="btn btn-primary btn-sm pull-right" type="submit">Adicionar</button>
		       	</div>
			</form>
			
   </div>
   <div class="col-sm-4">
   		<h3 class="text-center">Temas de SI1</h3>
   		<ul class="list-group">
   		   @for(tema <- temas){
		  <li class="list-group-item">
		    <a href="/dicas/@tema.getId()">@tema.getNome()</a>
		    <a href="/dicas/@tema.getId()/adicionar" title="Adicionar nova dica"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
		  </li>
		  }
		</ul>
   </div>

}