@(title: String, user: Usuario)

@main("Registro Realizado Com Sucesso | Portal Do Leite SI1 - UFCG", user) {

   <div class="col-sm-8">
   		<center>
   		<br />
   			<img src="/assets/images/login.jpg" class="img-responsive">
   			<br />
   			<blockquote>
   			Faça seu registro para desfrutar de todo o conteúdo do portal e se dê bem na disciplina!
   			</blockquote>
   		</center>
   </div>
   <div class="col-sm-4">
 
	   <h1 class="text-center">Registrado!</h1>
	   <p><br /></p>
	   <p class="text-center">Seu registro foi realizado com sucesso!</p>
		<br >
	   <p class="text-center"><b>Agora você pode fazer o <a href="/login"> Login.</a></b></p>

    </div>
}